<!DOCTYPE html>
<html>
<head>
  <title>Notymar for Squirrels</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navigation">
    <div class="container">
      <ul class="squirrel-bar">
        <li><a href="/" class="links">Home</a></li>
        <li><a href="/squirrels" class="links">Squirrels</a></li>
        <li><a href="/about" class="links">About This</a></li>
        <div class="squirrel-bar-right">
          <% if squirrel_signed_in? %>
            <li><%= link_to "View Squirrel", current_squirrel, class: "links" %></li>
            <li><%= link_to('Logout', destroy_squirrel_session_path, :method => :delete, class: "links") %></li>
          <% else %>
            <li><%= link_to('Login', new_squirrel_session_path, class: "links")  %></li>
          <% end %>
        </div>
      </ul>
    </div>
  </div>

  <div class="container web">
    <div class="row">
      <%= image_tag("head.png", :alt => "Squirrel Header", class: "divider") %>
      <div class="header col-md-12">
        <div class="main-head">
          <h1>Notymar for Squirrels</h1>
          <p class="test">"Welcome to the Next Gen Squirrels"</p>
        </div>
      </div>
    </div>
    <%= yield %>
  </div>

</body>
</html>
