<%= image_tag("head.png", :alt => "Squirrel Header", class: "bg-head") %>

<div class="follow-box">
  <div class="main-head">

    <div class="pop">
      <%= image_tag(@squirrel.picture.url, :alt => "Squirrel Header", class: "img-circle squirrel-front-info") %>
    </div>

    <div class="col-md-6 follow">
      <div>
        <h3 class="follow-head">Following</h3>
        <a class="counter"><%= @squirrel.friendships.count() %></a>
      </div>
    </div>

    <div class="col-md-6 follow">
      <div>
      <h3 class="follow-head">Followers</h3>
        <a class="counter"><%= @squirrel.back_friends.count() %></a>
      </div>
    </div>

    <div class="info-profile">
      <h2><%= @squirrel.squirrel_name %></h2>
      <p class="description-profile">"Something Here"</p>
      <p class="email-s"><%= @squirrel.email %></p>
    </div>


  </div>

</div>
